<ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <h1>Pengalaman selama mengikuti kelas AMBW</h1>
    <h3>Seru kelasnyaa, materi disampaikan dengan jelas melalui video. Lebih nyaman belajarnya karena bisa di rewind saat ada materi yang tidak dipahami.</h3>
    <br>
    <h1>Kritik</h1>
    <h3>Sejujurnya sejauh ini belum ada yang saya tidak suka sihh ce sama kelasnya, cuman mungkin bisa agak membantu jika ada .pdf/ppt nyaa ce di classroom</h3>
    <br>
    <h1>Saran</h1>
    <h3>Saran saya untuk kelas AMBW adalah semoga bisa tetap mempertahankan kualitas mengajar yang seperti ini, karena saat-saat seperti ini(pandemi & kelas online) cukup menguras tenaga, jadi belajar melalui video yang bhisa diulang-ulang sangat membantu sih ce. Terima kasih ce, Tuhan Yesus memberkati </h3>
  </center>
</ion-content>
